.form-control {
  margin: 1rem 0;
  text-align: start;
}

.form-control label,
.form-control input {
  display: block;
  width: 100%;
}

.form-control label {
  font-weight: bolder;
  margin-bottom: 0.5rem;
  color: rgb(1, 80, 1);
}

.form-control input {
  font: inherit;
  border: 1px solid #ccc;
  background: rgb(241, 241, 241);
  padding: 0.15rem 0.25rem;
}

.form-control input:focus {
  outline: none;
  background: rgb(205, 255, 205);
  border-color: rgb(1, 80, 1);
}

.form-control--invalid p {
  color: red;
  margin: 2px 0 2px 0;
}

.form-control--invalid input {
  border-color: red;
  background: #ffd1d1;
}