.generic-button {
  background-color: rgb(46, 127, 46);
  border: 1px solid black;
  color: black;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  font-style: italic;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.generic-button:hover {
  background-color: rgb(0, 96, 0);
  color: white;
}

.generic-button:disabled {
  background-color: gray;
  cursor:not-allowed;
  color: black;
}
