.header-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  background-color: rgb(0, 96, 0);
  color: white;
}

.header-line span {
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
}

.item-line {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  text-decoration: none;
  color: black;
}

.item-line span {
  width: 100%;
  padding: 0.5rem 0 0.5rem 0;
  border-bottom: 1px solid gray;
  font-style: italic;
}

.generic-button {
  background-color: rgb(46, 127, 46);
  border: 1px solid black;
  color: black;
  margin: 5px;
  padding: 10px;
  cursor: pointer;
  font-style: italic;
  transition: background-color 0.5s;
  transition: color 0.5s;
}

.generic-button:hover {
  background-color: rgb(0, 96, 0);
  color: white;
}
