.add-journey__container {
  width: 70%;
  margin: auto;
}

.depature,
.return {
  display: grid;
  min-height: 15rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 35% 50%;
  margin-bottom: 0rem;
  border-bottom: 1px solid rgb(173, 173, 173);
}

.station {
  grid-column: 1 / 3;
}

.depature h2,
.return h2 {
  grid-column: 1 / 3;
  font-style: italic;
  text-align: start;
  margin: 0 3px 0 3px;
  color: rgb(1, 80, 1);
}

.station,
.date,
.time {
  margin: 3px;
}

.distance {
  width: 50%;
  margin: 1rem 0 1rem 0;
}

.add-journey__buttons {
  border-top: 1px solid rgb(173, 173, 173);
  padding-top: 1rem;
}

@media (max-width: 767px) {
  .add-journey__container {
    width: 100%;
  }

  .depature h2,
  .return h2 {
    font-size: 20px;
  }
}
